@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.card{
    font-family: 'Open Sans';
    font-size: 14px;
    letter-spacing: 2px;
}
.shadow-bottom{
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(50, 50, 50, 0.2) 70%
  );
  min-height: 100vh;
}

/* First Page */


#navbar {
  --bs-bg-opacity: 0.5;
}

#logo{
  font-family: 'Open Sans';
  font-size: 24px;
  letter-spacing: 2px;
}

.nav-item {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding-left: 2em;
  font-family: 'Open Sans';
  letter-spacing: 2px;
}

.nav-link {
  color: white;
}


/* Footer */
footer .credits{
  font-family: 'Open Sans';
  font-size: 14px;
}

footer .sub-credits{
  font-family: 'Open Sans';
  font-size: 12px;
}