<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chapter 4 challenge</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="styleCh4.css">
</head>
  <body>
    
    <div id="header" class="d-flex align-items-start ">
        <a href="/profile"><img src="images/back.png" alt="" id="back" class="m-3"></a>
        <img src="images/logo1.png" alt="" id="logo" class="mt-2">
        <p class="text-uppercase m-3 fw-bold" id="" >Rock paper scissors</p>  
    </div>

    <div class="container ">
        <div class="row">
          <div class="col">
            <p class="fw-bold text-uppercase text-center" id="challenge">Player 1</p>
          </div>
          <div class="col-2"></div>
          <div class="col">
            <p class="fw-bold text-uppercase text-center" id="challenge">Com</p>
          </div>
        </div>
        <div class="row text-center">
            <div class="col">
              <img src="images/batu.png" alt="" class="batu mb-5 rounded-3" onclick="handleClick(1)" id="batuHuman">
            </div>
            <div class="col-2"></div>
            <div class="col">
                <img src="images/batu.png" alt="" class="batu mb-5 rounded-3" id="batuCom">
            </div>
        </div>
        <div class="row text-center ">
            <div class="col">
              <img src="images/kertas.png" alt="" class="kertas rounded-3" onclick="handleClick(2)" id="kertasHuman">
            </div>
            <div class="col-2">
                <p class="fw-bold  align-items-center" id="vs" style="display: block;">VS</p>
                <p class="fw-bold align-items-center rounded-3 text-uppercase" id="humanWin" style="display: none;">Player 1 Win</p>
                <p class="fw-bold align-items-center rounded-3 text-uppercase" id="comWin" style="display: none;">Com Win</p>
                <p class="fw-bold align-items-center rounded-3 text-uppercase" id="draw" style="display: none;">Draw</p>
            </div>
            <div class="col">
                <img src="images/kertas.png" alt="" class="kertas rounded-3" id="kertasCom">
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
              <img src="images/gunting.png" alt="" class="gunting rounded-3" onclick="handleClick(3)" id="guntingHuman">
            </div>
            <div class="col-2"></div>
            <div class="col">
                <img src="images/gunting.png" alt="" class="gunting rounded-3" id="guntingCom">
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col">
              <img src="images/refresh.png" alt="" class="refresh rounded-3" onclick="refresh()" id="refresh">
            </div>
        </div>
    </div>

    <script src="scriptCh4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>