<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel="stylesheet" href="profile.css">
  </head>
  <body>
    <!-- Main Page -->
    <div id="main-screen">
      <!-- Navbar -->
      <%- include('partials/navbar-logged-in') %>

      <div class="user-profile col d-flex justify-content-center">
        <div class="card text-bg-light m-3 p-2 "style="width: 30rem;">
            <div class="card-header text-uppercase fw-bold">Profile</div>
            <div class="card-body">
                <h6 class="text-uppercase">Name:</h6>
                <p></p>
                <h6 class="text-uppercase">Username: </h6>
                <p><%= player.username %></p>
                <h6 class="text-uppercase">E-mail:</h6>
                <p><%= player.email %></p>
                <h6 class="text-uppercase">Biodata:</h6>
                <p>KDJComp CEO</p>
                <h6 class="text-uppercase">History:</h6>
                <p>Win: 1</p>
                <p>Lose: 1</p>
                <p>Draw: 3</p>

                <a href="/update/<%= player.id %>" class="btn btn-outline-primary text-uppercase">Update</a>
                <a href="#" class="btn btn-danger text-uppercase" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
            </div>
          </div>
      </div>
    </div>
    
    <div id="footer" class="container">
      <footer class="py-3 p-4 ">
        <div class="container ">
          <div class="row">
            <div class="col-md-7 credits"><p class="text-muted">&#169; 2018 Your Games, Inc. All Rights Reserved</p></div>
            <div class="col-md-5 text-uppercase sub-credits"><p class="fw-bold justify-content-end" >Privacy Policy | Terms of Service | Code of Conduct</p></div>
          </div>
        </div>
      </footer>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-uppercase" id="deleteModalLabel">Delete account</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary text-uppercase" data-bs-dismiss="modal">Close</button>
            <a href="/delete/<%= player.id %>" class="btn btn-danger text-uppercase">Delete account</a>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>
